









  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: black;
  }

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    /* padding: 8px 0; */
    border-top: 1px solid #ccc;
        border-bottom: 3px solid #ccc;
    font-size: 12px;
        background-color: black;

  }

    footer p {
    margin: 2px 0;
   color: #ffffff;

  }
